- @header = "Add user"

%div#form
  %div.part
    - form_for(@user) do |f| 
      = f.error_messages
  
      %fieldset
        %legend= "Enter User Details"
        %div
          = f.label :name 
          = f.text_field :name, :size=> 40
        %div
          = f.label :user_password, 'Password' 
          = f.password_field :password, :size => 40
        %div
          = f.label :user_password_confimarion, "Confirm"
          = f.password_field :password_confirmation, :size => 40
        %div.submitter
          = f.submit 'Add User'

%div.links_list
  = link_to 'Login', :controller => "admin", :action => "login"