%p
  ="Counter "
  %span#counter= "0"
  
%h3.important
  = "Rewriting Tree"
%div
  = children_list(0, @core_instances) 
        
= periodically_call_remote( :url => {:action => "post_periodically"}, 
                            :frequency => @frequency,
                            :condition => "$('counter').innerHTML < #{@max_size}")
                            

    