- i = 0
- @patterns.each do |pattern|
  - i = i.next
  %h3.important
    = "Pattern #{i}"
    = link_to_remote "[ Hide ]",
                      :url => {:action => "hide"},
                      :class => "opt"
  %div{:id => "pattern_#{i}"} 
    %ul.concept
      %li
        %span.concept_tag= "CONCEPT 1"
        = h @core_concept
    %ul
      -@core_instances.each do |instance|
        %li
          %span.instance_tag= "1"
          =h convert_to_str(instance)
        
    