- i = 0

%p
  ="Counter "
  %span#counter= "0"
  
- @patterns.each do |pattern|
  - i = i.next
  %h3.important
    = "Pattern #{i}"
    = link_to_remote "[ Hide ]",
                      :url => {:action => "hide_pattern", :id => i},
                      :html => {:class => "opt", :id => "hide_#{i}"}
    = link_to_remote "[ Show ]",
                      :url => {:action => "show_pattern", :id => i},
                      :html => {:class => "opt", :id => "show_#{i}", :style => 'display:none'}
  %div{:id => "pattern_#{i}"} 
    %ul.concept
      %li
        %span.concept_tag= "CONCEPT 1"
        = h abbreviate(@core_concept_rsc)
    %ul
      -@core_instances.each do |instance|
        %li.child
          %span.instance_tag= "1"
          %span{:id => "pat#{i}_lev1_#{h abbreviate(instance)}"}=h abbreviate(instance)
        
= periodically_call_remote( :url => {:action => "post_periodically"}, 
                            :frequency => @frenquecy,
                            :condition => "$('counter').innerHTML < #{@max_size}")
    