- @header= "Dataset Uploading"

%div#form
  %div.part
    %fieldset
      %legend= "Local dataset"
      - form_tag({:action => 'save_onto'}, :multipart => true) do
        %div
          %label{:for => 'save_onto'}Select File
          = file_field 'upload', 'datafile'
        %div.submitter
          = submit_tag "Upload"
  %div.part
    %fieldset
      %legend= "Files uploaded"
      %ul
        - @files_uploaded.each do |file|
          %li
            =h file
            =link_to "[Delete]", :controller => "uploader", :action => "delete_onto", :file => h(file)
  %div.part
    %fieldset
      %legend= "SPARQL Endpoint"
      - form_tag({:action => 'save_url'}) do
        %div
          %label{:for => 'save_url'}Url
          = text_field 'ontology', 'url'
        %div.submitter
          = submit_tag "Define"
  %div.part
    %fieldset
      %legend= "Source"
      - form_tag({:action => 'select_source'}) do
        %div
          %label{:for => 'select_source'}SPARQL Endpoint
          = radio_button 'onto_source', 'source', 'endpoint'
          %label{:for => 'select_source'}Local dataset
          = radio_button 'onto_source', 'source', 'local'
        %div.submitter
          = submit_tag "Chose"
      
        
%div.links_list
  = link_to 'Guide', :controller => "guide", :action => "index"
  = link_to "Logout", :controller => "admin", :action => "logout"