- @header= "Aeria Uploading"

%div#form
  %div.part
    %fieldset
      %legend= "Enter AERIA summary address"
      - form_tag ({:action => 'save_aeria'}, :multipart => true) do
        %div
          %label{:for => 'upload_aeria'}Select File
          = file_field 'upload', 'datafile'
        %div.submitter
        = submit_tag "Upload"
  %div.part
    %fieldset
      %legend= "Files uploaded"
      %ul
        - @files_uploaded.each do |file|
          %li
            =h file
            =link_to "[Delete]", :controller => "uploader", :action => "delete_aeria", :file => h(file)

        
%div.links_list
  = link_to 'Main', :controller => "guide", :action => "index"
  = link_to "Logout", :controller => "admin", :action => "logout"
