%div.part
  %h3{:class => :menu}= link_to 'Approximator', :controller => "approximator", :action => "index"
  %p
    = "A sample of approximation"
    %ul
      %li
        = "Use"
        = link_to 'this uploader', :controller => "uploader", :action => "upload_aeria"
        = "to select your AERIA summary."
    %ul
      %li
        = "Use"
        = link_to 'this uploader', :controller => "uploader", :action => "upload_onto"
        = "to select your ontology."

%div.part
  %h3{:class => :menu}= link_to 'Patterns builder', :controller => "patterns_builder", :action => "index"
  %p
    = "An offline patterns builder."
    %ul
      %li
        = "Use"
        = link_to 'this uploader', :controller => "uploader", :action => "upload_aeria"
        = "to select your AERIA summary."
  
  

%div.part
  %h3{:class => :menu}= link_to 'Query tester', :controller => "query_tester", :action => "index"
  %p
    = "A tool that queries ontologies using SPARQL."
    %ul
      %li
        = "Use"
        = link_to 'this uploader', :controller => "uploader", :action => "upload_onto"
        = "to select your ontology."
  
%div.links_list
  = link_to 'Logout', :controller => "admin", :action => "logout"