%div#query_interface
  %div#form
    %div.part
      - form_remote_tag  :url => {  :controller => "verbose_rewriter", 
                                    :action => "rewrite" },
                         :loading => "Element.show('rewriting_p_indicator')",
                         :complete => "Element.hide('rewriting_p_indicator')" do 
        %fieldset
          %legend= "Settings"
          %div
            = label_tag :settings_a_concept, "Abstract concept"
            = select :settings, :a_concept, @abstract_concepts
            = label_tag :setting_constraint, "Syntactical constraint (case-insensitive regex)"
            = text_field :settings, :constraint
          %div.submitter
            = submit_tag 'Rewrite'

    = image_tag("ajax-loader.gif",
                :id => 'rewriting_p_indicator',
                :style => 'display:none')
            
    - line=0
    %div.part
      %fieldset
        %legend= "Prefix report and editing"
        %table
          %tr
            %th= "Prefix"
            %th= "Namespace"
          - @prefixes.each do |prefix, namespace|
            - if prefix == ""
              - prefix = @undefined_prefix
            - line = line + 1
            - class_line = line % 2
            %tr{:class => "class_#{class_line}"}
              %td
                %span{:id => "id_#{line}"}= prefix
                = in_place_editor("id_#{line}",
                                  {:url => url_for( :action => "edit_prefix",
                                                    :namespace => "#{h(namespace)}",
                                                    :old_prefix => prefix)})
              %td= namespace
            
%div#result
  &nbsp;
        
          
        
          
          
  
    
    