- i = 0

%p
  ="Counter "
  %span#counter= "0"
  
- @patterns.each do |pattern|
  %h3.important
    = "Pattern #{i}"
    = link_to_remote "[ Hide ]",
                      :url => {:action => "hide_pattern", :id => i},
                      :html => {:class => "opt", :id => "hide_#{i}"}
    = link_to_remote "[ Show ]",
                      :url => {:action => "show_pattern", :id => i},
                      :html => {:class => "opt", :id => "show_#{i}", :style => 'display:none'}
  %div{:id => "pattern_#{i}"} 
    %ul.concept
      = li_concept(i,0 ,@core_concept_rsc)
    %ul
      - @core_instances[i].each do |instance|
        %li.child
          %span.instance_tag= "0"
          %span.value{:id => "#{instance.id}"}=h abbreviate(instance.uri)
  - i = i.next
        
= periodically_call_remote( :url => {:action => "post_periodically"}, 
                            :frequency => @frequency,
                            :condition => "$('counter').innerHTML < #{@max_size}")
                            

    