%div#result
  - n = 0
  - @global_rc_list.each do |root_concepts|
    %h3.important= "Cloud #{n + 1}"
    %h3= "Significative concepts"
    %table{:summary => "Significative concepts"}
      %thead
        %tr
          %th= "Type"
          %th= "URI"
      %tbody  
        %tr
          %td= "Abstract"
          %td= h root_concepts[0].to_s # abstract_concept
        %tr
          %td= "Core"
          %td= h root_concepts[1].to_s # core_concept
  
    %h3="Properties"
    %table{:summary => "Properties identified"}
      %thead
        %tr
          %th= "URI"
          %th= "Type"
      %tbody
        - @global_finders[n].analysis.properties_list.each do |p, p_type|
          %tr
            %td{:class => "first"}= h p[0]
            %td{:class => "#{h p_type}_edge", :rowspan => "3"}= h p_type
          %tr
            %td{:class => "middle #{h p_type}_edge"}= h p[1]
          %tr
            %td{:class => "last"}= h p[2]
          
    %h3="Patterns"
  
    - i = 0
    - @global_finders[n].patterns.list.each do |pattern|
      - i = i.next
      %table{:summary => "Pattern identified: #{i}"}
        %caption="Pattern #{i}"
        %thead
          %tr
            %th= "Num"
            %th= "Type"
            %th= "URI"
        %tbody
          - j , w = 0 , 0
          - pattern.each do |item|
          - j = j.next
            %tr
              - if j.odd?
                - w = w.next
                %td= w
                %td{:class => "class_1"}= "Concept"
              -else
                %td= "&nbsp;"
                %td{:class => "class_0"}= "Property"
              %td= h item
    - n = n.next
        
          
        
          
          
  
    
    