- @header = "Patterns Builder"

%div#onto_loader
  = link_to_remote("Load AERIA summary",
                  :loading => "Element.show('progress_indicator')",
                  :complete => "Element.hide('progress_indicator')",
                  :url => { :action => :load })

  
  = image_tag("ajax-loader.gif",
              :id => 'progress_indicator',
              :style => 'display:none')
            
%p
  %span#ontology_info= "AERIA summary not loaded"

%br  
%div.links_list
  = link_to 'Main', :controller => "guide", :action => "index"
  = link_to "Logout", :controller => "admin", :action => "logout"
